{% assign products = collections.all.products | slice: 0, 6 %}

<div id="product-slider">
  {% for product in products %}
    <div class="product-item">
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
        <h3>{{ product.title }}</h3>
        <h6>test</h6>>
        <p>{{ product.price | money }}</p>
      </a>
    </div>
  {% endfor %}
</div>